################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/40KStats/v16/TestStore/0
/40kStats.Test/obj
/40Stats.Core/obj
/.vs/40KStats/v16
/40kStats.Test/bin/Debug/net5.0
/40Stats.Core/bin/Debug/net5.0
